<!doctype html>
<html>
  <head>
    <title>Home</title>
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Exo+2&family=Fredoka+One&display=swap" rel="stylesheet">
    <link  href="/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <h1><strong>Recipe Bank</strong></h1>
    <div class="links">
      <a href='/#'>Home</a>
      &nbsp;&nbsp;<a href='/register'>Register</a>
      &nbsp;&nbsp;<a href='/login'>Login</a>
      &nbsp;&nbsp;<a href='/addrecipe'>Add Recipes</a>
      &nbsp;&nbsp;<a href='/recipes'>Recipe List</a>
      &nbsp;&nbsp;<a href='/search'>Search</a>
      &nbsp;&nbsp;<a href='/update'>Update</a>
      &nbsp;&nbsp;<a href='/delete'>Delete</a>
      &nbsp;&nbsp;<a href='/api'>Api</a>
      &nbsp;&nbsp;<a href='/logout'>Logout</a>
    </div>
    <br>
    <h3> Welcome to my web app </h3>    
    <br> 
  </body>
</html>
