<!doctype html>
<html>
    <head>
        <title>Registration</title>
        <!-- Font -->
        <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Exo+2&family=Fredoka+One&display=swap" rel="stylesheet">
        <link href="/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
	<h1>Recipe Bank</h1>
	<div class="links">
            <a href='./'>Home</a>
            &nbsp;&nbsp;<a>Register</a>
            &nbsp;&nbsp;<a href='/login'>Login</a>
            &nbsp;&nbsp;<a href='/addrecipe'>Add Recipes</a>
            &nbsp;&nbsp;<a href='/recipes'>Recipe List</a>
            &nbsp;&nbsp;<a href='/search'>Search</a>
            &nbsp;&nbsp;<a href='/update'>Update</a>
            &nbsp;&nbsp;<a href='/delete'>Delete</a>
            &nbsp;&nbsp;<a href='/api'>Api</a>
            &nbsp;&nbsp;<a href='/logout'>Logout</a>
        </div>
        <div class="container">
            <h2>Registration Page</h2>
            <div class="forms">
                <p1>Please fill in this form to register</p1>
                <br><br><br>
                <form method="POST" action="/registered">
                    <div class="aRight">
                        First name: <input class="input" id="firstname" type="text" name="firstname" placeholder="Enter first name" />                        
                        <br>
                        Last name: <input class="input" id="lastname" type="text" name="lastname" placeholder="Enter last name" />
                        <br>
                        Email: <input class="input" id="email" type="text" name="email" placeholder="email" />
                        <br>
                        Username: <input class="input" id="username" type="text" name="username" placeholder="username" />
                        <br>
                        Password: <input class="input" id="password" type="password" name="password" placeholder="password" />
                        <br>
                        <div class="togglePass">
                            <input class="passBtn" type="checkbox" onclick="togglePassword()">Show Password
                        </div>
                        <br>
                        <input type="submit" value="Register" />
                    </div>
                </form>
            </div>
            <div class="image">
            </div>
       
        </div>
    </body>
    <script>
        function togglePassword() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } 
            else {
                x.type = "password";
            }
        }
    </script>
</html>
