<!doctype html>
<html>
    <head>
        <title>Search Page</title>
        <!-- Font -->
        <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Exo+2&family=Fredoka+One&display=swap" rel="stylesheet">
        <link href="/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Recipe Bank</h1>
        <div class="links">
            <a href='./'>Home</a>&nbsp;&nbsp;
            &nbsp;&nbsp;<a href='/register'>Register</a>
            &nbsp;&nbsp;<a href='/login'>Login</a>
            &nbsp;&nbsp;<a href='/addrecipe'>Add Recipes</a>
            &nbsp;&nbsp;<a href='/recipes'>Recipe List</a>
            &nbsp;&nbsp;<a >Search</a>
            &nbsp;&nbsp;<a href='/update'>Update</a>
            &nbsp;&nbsp;<a href='/delete'>Delete</a>
            &nbsp;&nbsp;<a href='/api'>Api</a>
            &nbsp;&nbsp;<a href='/logout'>Logout</a>
        </div>
        <h2>Search for a recipe</h2>
        <div class="container">
            <div class="forms">
                <p>Search for keywords in the recipe names:</p>
                <br><br>
                <form action="/search-result" method="GET">
                    <div class="aRight">
                        <input id="search-box" type="text" name="keyword" placeholder="Search keyword">
                        <input type="submit" value="Search" >
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
